#root {
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
  position: fixed;
  width: 50%;
  height: 20%;
  background-color: #fefefe;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  padding: 2px 16px;
  display: flex;
  flex-direction: column;
}

@media(min-width: 480px){
  #welcome-modal {
    width: 50%;
    height: 20dvh;
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

.content-layout {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

/* @media(max-width) {
  
} */

.card {
  min-width: 500px;
  min-height: 300px;
  margin: 40px 0;
}

.metadata {
  display: flex;
  align-items: center;
}

.profile-picture-wrapper {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px 8px
}

.profile-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.author {
  font-weight: 600;
  margin-right: 8px;
}

.date-posted {
  font-weight: 400;
  color: grey
}

.content {
  border: 1px solid rgb(219, 223, 228);
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  background-color: beige;
}

.content:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}

.post-analytic {
  display: flex;
  margin: 12px 8px;
}

.likes {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.comment {
  display: flex;
  align-items: center;
}

.icon {
  display: flex;
  align-items: center;
  padding: 4px;
}

.likes-count {
  font-weight: 600;
}

.comments-count {
  font-weight: 600;
}

.captions {
  display: inline-block;
  text-align: left;
}